@{
    ViewData["Title"] = "Home Page";
}

<!-- ==== MAIN =====- where all content goes -->
<main id="content" class="flex-shrink-0">

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col order-last order-md-first">
                <h1 class="fw-bold">Rewinder: A Coding Project</h1>
                <h4 class="lead">
                    <strong>There and Back Again.</strong> A javascript coding project using arrays.
                    Write a program that displays a string in reverse.
                </h4>

                <!-- ==== Methods Demostrated ==== -->
                <ul class="fa-ul pt-2 checklist">
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap Layout</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>JS Fundamentals</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Loops</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Functions</li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript DOM Manipulation
                    </li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Boolean Logic</li>
                </ul>
                <a type="button" href="" target="_blank" class="btn btn-outline-dark">Try it out!</a>

                <!--==== Technologies Used ==== -->
                <h5 class="fw-bold mt-5">Technologies Used</h5>
                <div class="d-flex justify-content-start">
                    <div class="row">
                        <div class="col"><i class="fab fa-js-square fa-4x jsicon"></i></div>
                        <div class="col"><i class="fab fa-bootstrap fa-4x bsicon"></i></div>
                        <div class="col"><i class="fab fa-html5 fa-4x html5icon"></i></div>
                        <div class="col"><i class="fab fa-css3-alt fa-4x css3icon"></i></div>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <img class="img-fluid" src="/img/Rewind.jpg" width="500">
            </div>
        </div>
    </div>
</main>